* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {

    width: 50%;
    background-color:rgb(243, 151, 31);
    margin-left: 25%;
    margin-top: 2%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

th {
    
    color: white;
    font-weight: bold;
}


td {
    border: 1px solid #dcdcdc;
    padding: 8px;
    color: black;
    
}

a {
    text-decoration: none;
    color: black;
} 