/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
} */

/* static/css/styles.css */

body {
  
    background-image: url('/media/Las-Bibliotecas-Publicas-son-necesarias-e-imprescindibles.jpg');
    background-size:  cover;
    background-position: center; 
    background-repeat: no-repeat; 
}

/* nav {

    display: flex;
    justify-content: space-evenly;
    background-color: rgb(1, 39, 72);
    width: 100%;
    height: 60px;
} */

form {

    display: flex;
    align-items: center;
    gap: 100px;
    /* margin: 20px; */
}

/* form input {

    width: 20rem;
    border-radius: 10px;
    height: 2rem;
    
}

form button{

    width: 5rem;
    background-color: rgb(48, 157, 207);
    border-radius: 10px;
    height: 2rem;
    cursor: pointer;
} */
/* 
.btn {

    width: 5rem;
    border-radius: 10px;
    height: 2rem;
    background-color: green;
    cursor: pointer;

} */

table {

    width: 50%;
    background-color:rgba(8, 8, 8, 0.836);
    margin: 2rem auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border: 5px solid rgb(12, 12, 12);
}

th {
    
    color: white;
    font-weight: bold;
}


td {
    border: 1px solid #dcdcdc;
    padding: 8px;
    color: rgb(15, 15, 15);
    
}

a {
    text-decoration: none;
    color: rgb(248, 245, 245);
} 

h1 {

    font: normal 30pt Arial;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: 2px solid black;
    
}

.titulo {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}



/* .descricao {

    background-color: aliceblue;
}

.descricao h1 {

    color:#d91414
} */

.div {

    background-color: blue;
    width: 300px;
    height: 300px;

}

.div p {

    color: black
}

h4 {
    background-color: rgb(3, 194, 26);
    width: 12rem;
   
}

