
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    
}

.descricao {

    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color:rgba(8, 8, 8, 0.836);
    color: white;
    border: 5px solid #000099;
    max-width: 50%;
    max-height: 100%;

}

.descricao .img img {

    margin: auto;
    width: 40%;
    margin-left: 28%;
}

.descricao h1 {

    font: normal 20pt Arial;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: 2px solid black;
}