{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/add-livro.css' %}">
    <title>Adicionar Livro</title>
   
</head>
<body>

    <form method="POST" class="container" action="" enctype="multipart/form-data"> {% csrf_token %}  
        <h1>Formulário</h1>
        <input type="text" name="name" placeholder=" Nome">
        <select name="genero">
            {% for genero in generos %}
            <option value="{{genero.id}} ">{{genero.nome}}</option>
            {% endfor %}
        </select>
        <input class="input-img" type="file" name="Imagem">
        <input type="text" name="preco" placeholder=" Preco">
        <input type="text" name="descricao" placeholder=" Descricao">
        <input type="text" name="qtd_livros" placeholder=" Qtd_livros">
        <input type="text" name="qtd_paginas" placeholder=" Qtd_paginas">
        <input type="text" name="desconto" placeholder=" Desconto">
        <button type="submit">Salvar</button>
    </form>
    
</body>
</html>