{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/global.css' %}"> 
    <title>Pagina Inicial</title>
</head>
<body>
   
    <div class="container"> 
        <aside>
            <div class="input-search">
                <form action="{% url 'search-product' %}">
                    <input type="search" name="q">
                    <button >Buscar</button> 
            </div>
            <div class="botao-add"> 
               
                <a class="btn" href="{% url 'add_livro' %}">Adicionar</a>
                    
            </div>
        </aside>
       <div class="titulo"><h1>Tabela de Livros</h1></div>
        <div class="tabela">
                <table>
                    <thead>
                        <tr>
                           
                            <th>Nome</th>
                            <th>Genero</th>
                            <th>Qtd_paginas</th>
                            <th>Qtd_livros</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for livro in livros %}
                        <tr>
                            <td><a href="{% url 'livros-detail' livro.id %}"> {{livro.nome}} </a></td>
                            <td><a href="{% url 'livros-detail' livro.id %}"> {{livro.genero}} </a></td>
                            <td><a href="{% url 'livros-detail' livro.id %}"> {{livro.qtd_paginas}} </a></td>
                            <td><a href="{% url 'livros-detail' livro.id %}"> {{livro.qtd_livros}} </a></td>
                          
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
               
            </div>
        
    </div>
</body>
</html>