{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/global.css' %}"> 
    <title>Pagina Inicial</title>
</head>
<body>
   <!-- <nav>
        <form action="{% url 'search-product' %}">
           <div> <input type="search" name="q">
           <button >Buscar</button></div>
          <div class="btn">Adicionar<a  href="{% url 'add_livro' %}"></a></div> 
    </nav>
       <div class="titulo"><h1>Aluguel de livros</h1></div>
        <div class="tabela"> -->

            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand">Navbar</a>
                  <form class="d-flex" role="search">
                    <input class="form-control me-5" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success form-control me 1" type="submit">Buscar</button>
                    <a class="btn text-black" href="{% url 'add_livro' %}">Adicionar</a>
                  </form>
                </div>
              </nav>
                <table>
                    <thead>
                        <tr>
                           
                            <th>Nome</th>
                            <th>Genero</th>
                            <th>Qtd_paginas</th>
                            <th>Qtd_livros</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for livro in livros %}
                        <tr>
                            <td><a href="{% url 'livros-detail' livro.id %}"> {{livro.nome}} </a></td>
                            <td><a href="{% url 'livros-detail' livro.id %}"> {{livro.genero}} </a></td>
                            <td><a href="{% url 'livros-detail' livro.id %}"> {{livro.qtd_paginas}} </a></td>
                            <td><a href="{% url 'livros-detail' livro.id %}"> {{livro.qtd_livros}} </a></td>
                          
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
               
            </div>
           
           
    
</body>
</html>