{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div> 
        
        <div class="tabela">
           
          
                <table>
                    <thead>
                        <tr>
                           
                            <th>Nome</th>
                            <th>Genero</th>
                            <th>Qtd_paginas</th>
                            <th>Qtd_livros</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for livro in livros %}
                        <tr>
                            <td><a href="{% url 'livros-detail' livros.id %}"> {{livros.name}} </a></td>
                            <td><a href="{% url 'livros-detail' livros.id %}"> {{livros.genero}} </a></td>
                            <td><a href="{% url 'livros-detail' livros.id %}"> {{livros.qtd_paginas}} </a></td>
                            <td><a href="{% url 'livros-detail' livros.id %}"> {{livros.qtd_livros}} </a></td>
                           
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
               
            </div>
        
    </div>
</body>
</html>