{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/product-detail.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> 
    <title>Sucesso</title>
</head>
<body>

        <div class="descricao" >
            <h1>Parabéns! Você alugou o livro "{{ livro.nome }}"</h1>
            <p>Data de Empréstimo: {{ data_emprestimo }}</p>
            <p>Data de Devolução: {{ data_devolucao }}</p>
        </div>
        
    </div>
        
</body>
</html>
