
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/product-detail.css' %}"> 
    <title>Detalhes do livro</title>
</head>
<body>

    <div class="info-emprestimo">
    <h1>Locação</h1>

        {% for emprestimo in emprestimos %}
        <p>Usuário: {{ emprestimo.usuario.username }} pegou emprestado o livro: {{ emprestimo.livro.nome }}</p>
        {% endfor %}
        
    </div>
    
        
</body>
</html>

