{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
</head>
<body>
    
    <div class="img-login">
        <img src="../../../media/2fa.jpg" width="200px" height="200px">
    </div>
  
        <form action="" method="POST"> {% csrf_token %}

            {% if messages %}
            {% for message in messages %}
            <h3 class="msglogin">{{message}}</h3>
            {% endfor %}
            {% endif %}
            <span>Usuário</span>
            <input type="text" name="username" id="" placeholder=" Usuário"> 
            <span>Senha</span>
            <input type="password" name="password" placeholder=" Senha">
            <button type="submit">Entrar</button>

        </form>
 
</body>
</html>